<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/css/style.css" />
        <title> GrandPy Bot le papy-robot. </title>
    </head>

    <body>
        <header>
            <h1>Bienvenue sur GrandPy Bot!</h1>
        </header>

        <nav>
            <p>Vous souhaitez un renseignement sur un lieu?<br />
            Alors osez défier ma mémoire et je vous donnerai son adresse.
            Et peut-être une anecdote ou un détail à son sujet, qui sait.</p>

        </nav>

        <section>
            <div id="content">
                <div class="leftbox">
                    <div class="question">
                        <p>Que souhaitez vous savoir?</p>
                    </div>

                    <div class="interaction">
                        <form name="input_msg" id="input_message" action="" >
                                <textarea name="textarea" id='user_text' placeholder="Entrez votre message ici ..." required="" rows="6" cols="75"></textarea>
                                <input type="submit" value="Envoyer" />
                                <div class="answer">
                                </div>
                        </form>
                    </div>

                    <div class="bot_answer">
                        <p> blabla</p>
                    </div>
                </div>

                <div class="rightbox">
                    <p>Vous pourrez même trouver le lieu en suivant ce lien:
                        <a href="https://www.openstreetmap.org/#map=12/47.6358/6.8645" target="_BLANK">accedez à la carte:</a><br />
                        <a href="img/map.png"><img src="img/map.png" alt="carte" title="carte" /> </a>
                        <br />
                    </p>
                </div>
            </div>
        </section>
        <footer>
            <div>
                <p>
                    2022 Le Tonquèze Gwénaël
                </p>
            </div>
            <div>
                <p>On GitHub:
                    <a href="https://github.com/gwen23/P7.git" target="_BLANK">cliquez sur ce lien.</a><br />
                </p>
            </div>

        </footer>

    </body>
</html>